.nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    @include mq($medium) {
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
        border-radius: 0;
    }


    &__trigger {
        @include resetbutton();
        display: flex;
        width: 40px;
        height: 40px;
        padding: 13px 11px 13px 12px;
        background-color: #fff;
        color: #3976f4;
        border-radius: 7px;

        @include mq($small) {
            display: none;
        }

        @include mq($medium) {
            display: none;

        }

        &:hover {
            // color: rgba(255,255,255,.9);
            // @include tr(.3s ease);
        }
    }

    &__close-icon {
        display: none;
        width: 17px;
        height: 14px;
    }

    &__list {
        max-width: 100%;

        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: flex-start;
        @include mq($small) {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--white);
        @include tr(.3s ease);
        cursor: pointer;
        @include mq($small) {
            margin-right: 30px;
        }

        @include mq($medium) {
            // margin-right: 30px;
            width: auto;
            flex-wrap: nowrap;
        }

        &:last-child {
            margin-right: 0;
        }

    }


    &__link {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        display: inline-flex;
        color: #777;
        font-family: $sfpro;
        @include font-size(12px);
        font-weight: normal;
        letter-spacing: -0.06px;
        line-height: 1.5;
        text-align: center;
        white-space: nowrap;
        @include tr(.3s ease);

        @include mq($medium) {
            padding-top: 7px;
            padding-bottom: 7px;
            @include font-size(14px);
            letter-spacing: -0.07px;

        }

        &:hover {
            color: darken(#777, 10);
        }

    }


    &__controls {
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        @include mq($small) {

        }

        @include mq($medium) {

        }
    }

    &__lang {
        color: #777;
        font-family: $sfpro;
        @include font-size(12px);
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: -0.06px;
    }

    &__contact {
        margin-left: 16px;
        @include mq($medium) {
            margin-left: 17px;

        }
    }


}

.nav_open {
    z-index: 1;
    position: fixed;
    // top: 20px;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    // padding-right: 15px;
    // padding-left: 15px;
    height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    background: #f3f4f5;

    .nav__trigger {
        margin-left: auto;
        margin-right: 30px;
        // margin-top: 2px;
        // margin-bottom: 6px;
    }

    // .nav__menu-icon {
    //     display: none;
    // }

    // .nav__close-icon {
    //     display: block;
    // }

    .nav__list {
        // position: absolute;
        // top: 100%;
        // right: 40px;
        // left: 40px;
        // margin-left: auto;
        // margin-right: 30px;
        width: auto;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        // background: #fff;
        border-radius: 5px
    }

    .nav__link {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav__controls {
        padding-right: 40px;
        padding-left: 40px;
        display: block;
    }
}
