// File for scss-vars.

$margin-title-secondary: 60px;
$margin-title-third: 40px;

// $padding-section: 95px;
// $padding-section-half: 45px;

$small: 640px;
$medium: 960px;
$large: 1200px;
$xlarge: 1440px;

$color-soft: #F4FCFE;
$color-white: #ffffff;
$color-black: #272D4E;
$color-blue: #4ECAED;
$color-darkblue: #32567A;
