.write {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 60px;

  &__entry {

  }

  &__title {
    margin-bottom: 40px;

  }

  &__text {

  }

  &__button {
    margin-top: 40px;
  }

  &__image {

  }



}
