mixin pricing(data)
    section.pricing
        .pricing__container.container
            h2.pricing__title.title.title_secondary <span>02</span> Ценообразование.

            .pricing__services
                article.pricing__service
                    a.pricing__link(href="#")
                        .pricing__entry
                            .pricing__item-title Рассылка по ЛС
                            dl.pricing__list
                                .pricing__list-item
                                    dt.pricing__term От 100
                                    dd.pricing__desc — 3.2 РУБ
                                .pricing__list-item
                                    dt.pricing__term От 1000
                                    dd.pricing__desc — 3 РУБ
                                .pricing__list-item
                                    dt.pricing__term От 50.000
                                    dd.pricing__desc — 2.8 РУБ
                                .pricing__list-item
                                    dt.pricing__term От 100.000
                                    dd.pricing__desc — 2.5 РУБ

                            .pricing__note Минимальная сумма заказа 100₽

                        .pricing__button-w
                            span.pricing__button Заказать

                article.pricing__service
                    a.pricing__link(href="#")
                        .pricing__entry
                            .pricing__item-title Рассылка по чатам
                            .pricing__item-text В зависимости от <span>количества чатов</span>, обсуждается индивидуально

                        .pricing__button-w
                            span.pricing__button Заказать


                article.pricing__service
                    a.pricing__link(href="#")
                        .pricing__entry
                            .pricing__item-title Составление промо - текста
                            .pricing__item-text Оценка стоимости - после просмотра <span>технического задания</span>

                        .pricing__button-w
                            span.pricing__button Заказать

                article.pricing__service
                    a.pricing__link(href="#")
                        .pricing__entry
                            .pricing__item-title Парсинг
                            .pricing__item-text <span>Бесплатно</span> при заказе услуги

                        .pricing__button-w
                            span.pricing__button Заказать
