mixin benefits(data)
    section.benefits
        .benefits__container.container
            h2.benefits__title.title.title_secondary <span>03</span> Преимущества работы с нами.
            .benefits__slider.slider
                .swiper
                    .swiper-wrapper
                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-1@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-1@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-1.png" )

                            .benefits__text — Работаем с любой тематикой рекламы


                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-2@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-2@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-2.png" )

                            .benefits__text
                                p — Гарантия доставленных сообщений


                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-3@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-3@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-3.png" )

                            .benefits__text — Живые отзывы наших клиентов


                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-4@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-4@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-4.png" )

                            .benefits__text — Саппорт онлайн с 8:00 до 24:00

                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-5@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-5@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-5.png" )

                            .benefits__text — Высокая скорость выполнения услуги

                        .benefits__slide.swiper-slide

                            picture.benefits__icon
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/benefits-icon-6@2x.webp" media="(min-width: 960px)")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/benefits-icon-6@2x.png" media="(min-width: 960px)")

                                img.lazy(src="static/img/general/placeholder-image.webp" alt="Изображение", data-src="static/img/general/benefits-icon-6.png" )

                            .benefits__text — Мы нацелены только на качественный результат


                    .benefits__pagination.swiper-pagination.slider__pagination
                    //- .swiper-button-prev
                    //- .swiper-button-next
                    //- .swiper-scrollbar
