.social {
    width: 100%;
    &__list {
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include mq($medium) {
        }
    }
    &__item {
        margin-left: 15px;
        @include mq($medium) {
            @include margin-left(15px);
        }
        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        color: rgba(255, 255, 255, .5);
        @include tr(.3s ease);

        &:hover {
            color: rgba(255, 255, 255, 1);
            @include tr(.3s ease);

        }

    }

    &__icon {

    }
}
