.langs {
  display: flex;

  @include mq($small) {
    gap: 0 7px;
  }


  &_secondary {
    .langs__lang {
      color: $color-white;

      @include mq($medium) {

      }

    }
  }
  &__lang {
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 3px;
    background: transparent;
    font-family: $sfpro;
    font-weight: 600;
    @include font-size(10px);
    line-height: 1;
    text-transform: uppercase;
    border-radius: 6px;
    @include tr(.3s ease);

    @include mq($small) {
      padding-top: 8px;
      padding-bottom: 8px;
      @include font-size(14px);

    }
  }

  &__lang_active {
    background: $color-blue;
    color: $color-black;
    @include tr(.3s ease);
  }

  &__icon {
    width: 14px;
    height: 14px;
    @include mq($small) {
      width: 20px;
      height: 20px;
    }
  }

}
