mixin cases(data)
    section.cases
        .cases__container.container
            h2.cases__title.title.title_reg_sec Наши кейсы

            .cases__slider.swiper

                picture.cases__icon
                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/cases-icon@2x.webp")
                    source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/cases-icon@2x.png")
                    img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/cases-icon@2x.png" width="158" height="205" )


                .swiper-wrapper
                    .cases__slide.swiper-slide
                        .cases__item
                            .cases__side
                                h3.cases__item-title Bekker

                                .cases__item-text
                                    p Международная компания по продаже товаров для сада и огорода. Основу продукции составляют семена и саженцы различных садовых культур

                                picture.cases__item-image
                                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/case-1-image@2x.webp")
                                    source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/case-1-image@2x.png")
                                    img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/case-1-image@2x.png" width="479" height="391" )
                            .cases__side
                                h4.cases__item-subtitle Что сделано

                                .cases__item-text
                                    p Запущен геймификационный марафон, состоящий из трех игр, длительностью по одной неделе каждый

                                h4.cases__item-subtitle Результат нашей работы

                                ul.cases__list
                                    li.cases__list-item Первая игра: за время акции коэффициент транзакций вырос на 78%, а среднедневная выручка — на 43% по сравнению с аналогичным периодом.
                                    li.cases__list-item Вторая игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 42%, а доход на 64%.
                                    li.cases__list-item Третья игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 35%, а доход на 40%.


                                a.cases__more.button.button_stroke(href="#") Подробнее об этом и других кейсах

                        .cases__thumb
                            picture.cases__item-thumb
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/case-next-icon@2x.webp")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/case-next-icon@2x.png")
                                img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/case-next-icon@2x.png" width="71" height="30" )


                    .cases__slide.swiper-slide
                        .cases__item
                            .cases__side
                                h3.cases__item-title Bekker 2

                                .cases__item-text
                                    p Международная компания по продаже товаров для сада и огорода. Основу продукции составляют семена и саженцы различных садовых культур


                                picture.cases__item-image
                                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/case-1-image@2x.webp")
                                    source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/case-1-image@2x.png")
                                    img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/case-1-image@2x.png" width="479" height="391" )
                            .cases__side
                                h4.cases__item-subtitle Что сделано

                                .cases__item-text
                                    p Запущен геймификационный марафон, состоящий из трех игр, длительностью по одной неделе каждый

                                h4.cases__item-subtitle Результат нашей работы

                                ul.cases__list
                                    li.cases__list-item Первая игра: за время акции коэффициент транзакций вырос на 78%, а среднедневная выручка — на 43% по сравнению с аналогичным периодом.
                                    li.cases__list-item Вторая игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 42%, а доход на 64%.
                                    li.cases__list-item Третья игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 35%, а доход на 40%.


                                a.cases__more.button.button_stroke(href="#") Подробнее об этом и других кейсах
                        .cases__thumb
                            picture.cases__item-thumb
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/case-prev-icon@2x.webp")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/case-prev-icon@2x.png")
                                img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/case-prev-icon@2x.png" width="71" height="30" )

                    .cases__slide.swiper-slide
                        .cases__item
                            .cases__side
                                h3.cases__item-title Bekker 3

                                .cases__item-text
                                    p Международная компания по продаже товаров для сада и огорода. Основу продукции составляют семена и саженцы различных садовых культур


                                picture.cases__item-image
                                    source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/content/case-1-image@2x.webp")
                                    source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/content/case-1-image@2x.png")
                                    img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/content/case-1-image@2x.png" width="479" height="391" )
                            .cases__side
                                h4.cases__item-subtitle Что сделано

                                .cases__item-text
                                    p Запущен геймификационный марафон, состоящий из трех игр, длительностью по одной неделе каждый

                                h4.cases__item-subtitle Результат нашей работы

                                ul.cases__list
                                    li.cases__list-item Первая игра: за время акции коэффициент транзакций вырос на 78%, а среднедневная выручка — на 43% по сравнению с аналогичным периодом.
                                    li.cases__list-item Вторая игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 42%, а доход на 64%.
                                    li.cases__list-item Третья игра: коэффициент транзакций за время действия акции по сравнению с аналогичным периодом прошлого года вырос на 35%, а доход на 40%.


                                a.cases__more.button.button_stroke(href="#") Подробнее об этом и других кейсах

                        .cases__thumb
                            picture.cases__item-thumb
                                source(type="image/webp", srcset="static/img/general/placeholder-image.webp", data-srcset="static/img/general/case-next-icon@2x.webp")
                                source(type="image/png", srcset="static/img/general/placeholder-image.png", data-srcset="static/img/general/case-next-icon@2x.png")
                                img.lazy.lazy( src="static/img/general/placeholder-image.webp", alt="Изображение", data-src="static/img/general/case-next-icon@2x.png" width="71" height="30" )


                //- .swiper-pagination
                //- .swiper-button-prev
                //- .swiper-button-next
