.hero {
  position: relative;
  // overflow: hidden;

  &__image {
    z-index: -1;
    position: absolute;
    // top: -24px;
    // left: 50%;
    // width: 375px;
    // height: 253px;
    display: block;
    // transform: translateX(-50%);

    @include mq($small) {
      // top: 9px;
      // left: calc(50% + 10px);
      // width: 1023px;
      // height: 411px;
    }

    @include mq($medium) {
      top: 0;
      right: 0;
      width: 924px;
      height: 690px;
      transform: translateX(72px);
    }

    @include mq($large) {
      // top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq($xlarge) {

      }
    }
  }

  &__path {
    z-index: -1;
    position: absolute;
    top: -130px;
    left: 258px;
    width: 784px;
    height: 674px;
  }

  &__circle {
    top: 36px;
    left: -148px;
  }


  &__container {
    position: relative;
    padding-top: 130px;
    padding-bottom: 44px;

    @include mq($small) {
      padding-top: 105px;
      padding-bottom: 140px;
    }

    @include mq($medium) {
      // padding-top: 116px;
      // padding-bottom: 130px;
    }
  }

  &__entry {
    z-index: 1;
    position: relative;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 628px;
    @include mq($small) {
      // margin-bottom: 40px;
    }

    @include mq($medium) {

    }
  }

  &__text {
    max-width: 534px;

    @include mq($small) {

    }

    @include mq($medium) {

    }

  }

  &__buttons {
    margin-top: 40px;
  }

  &__button {
    // width: 100%;
    margin-right: 13px;
    @include mq($small) {
      // width: auto;
    }

    @include mq($medium) {

    }

  }

  &__advertising {
    z-index: 1;
    position: absolute;
    top: 94px;
    right: 30px;
  }

}
