.examples {

  &__container {
    position: relative;
    padding-top: $padding-container-mob;
    @include mq($medium) {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }

  &__circle {
    bottom: -130px;
    left: -61px;
    width: 193px;
    height: 193px;
  }

  // &__circle_2 {
  //   top: auto;
  //   left: auto;
  //   right: 0;
  //   bottom: -120px;
  //   width: 193px;
  //   height: 193px;
  // }

  &__path {
    z-index: -1;
    position: absolute;
    bottom: -170px;
    left: -111px;
    width: 292px;
    height: 372px;
    transform: rotate(111deg);
  }

  &__title {
    margin-bottom: $margin-title-secondary-mob;
    @include mq($medium) {
      margin-bottom: $margin-title-secondary;
    }
  }

  &__gallery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    @include mq($medium) {
      flex-wrap: nowrap;
      gap: 20px;
    }

  }

  &__item {
    border: 2px solid $color-black;
    // height: 507px;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 6px;
    @include tr(.3s ease);

    @include mq($medium) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0 15px 22px 0 rgba(0, 0, 0, 0.25);
      @include tr(.3s ease);
    }
  }

  &__image {
    background: #D9D9D9;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

}
