mixin header(data)
    header.header&attributes(attributes)
        .header__container.container

            a.header__logo.logo(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'logo', className: 'logo__icon'})

            +nav(nav.primaryList).header__nav.nav_primary

            .header__controls
                a.header__lang(href="/index-lang-eng.html") Eng
                a.header__contact.button.button_stroke(href="#contact") Написать нам
