.header {

  &__container {
    padding-top: 44px;
    padding-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    height: 130px;
    // flex-wrap: wrap;

    @include mq($small) {
      // height: 138px;

    }

    @include mq($medium) {
      padding-top: 40px;
      padding-bottom: 40px;
      justify-content: space-between;

    }
  }

  &__logo {
    margin-right: auto;
    flex-shrink: 1;

    @include mq($medium) {
      margin-right: 0;
      // margin-right: 30px;
      // max-width: 110px;

    }

    @include mq($medium) {
      // max-width: 140px;
    }
  }

  &__nav {
    z-index: 1;
    position: relative;
    order: 2;

    @include mq($small) {


    }

    @include mq($medium) {
      // @include margin-right(30px);
      // margin-right: 0;
      // left: 22px;
      order: 1;
    }
  }


  &__langs {
    // margin-right: 30px;

    @include mq($medium) {
      margin-right: 0;
      order: 2;
    }

  }

  &__lang {
    color: #777;
    font-family: $sfpro;
    @include font-size(12px);
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.06px;
  }


}

.header__nav-appearance {
  animation: fadeInRight .3s ease-in-out;
}

.header__nav-disappear {
  animation: fadeOutRight .3s ease-in-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
}
