.form {

    &__row {
        margin-bottom: 14px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        @include mq($small) {
            flex-wrap: nowrap;
        }

        @include mq($medium) {
            margin-bottom: 40px;
        }

        &:last-child {
            margin-bottom: 0;
            @include mq($medium) {
                margin-bottom: 0;
            }
        }
    }

    &__field {
        margin-bottom: 32px;
        padding-left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        flex-grow: 1;
        @include mq($small) {
            margin-right: 20px;
            margin-bottom: 0;
            width: auto;
        }

        @include mq($medium) {


        }

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__input {
        @include resetbutton();
        border-bottom: 1px solid rgba(255,255,255, .3);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        color: #fff;
        font-family: $montserrat;
        font-size: 12px;
        font-weight: normal;

        @include placeholder() {
            color: #fff;
        }

        @include mq($small) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @include mq($medium) {
            padding-top: 9px;
            padding-bottom: 9px;
            font-size: 14px;

        }
    }


    &__bottom {
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        @include mq($small) {
            margin-top: 24px;
            flex-wrap: nowrap;
        }

        @include mq($medium) {
            margin-top: 40px;
        }
    }

    &__submit {
        width: 100%;
        @include mq($small) {
            width: auto;
        }
    }

    &__note {
        margin-top: 13px;
        margin-left: 0;
        padding-right: 20px;
        padding-left: 20px;
        color: rgba(255,255,255, .7);
        font-size: 9px;
        font-weight: normal;
        line-height: 1.4;
        text-align: center;
        @include mq($small) {
            margin-top: 0;
            margin-left: 30px;
            padding-right: 0;
            padding-left: 0;
            text-align: left;
        }

        @include mq($medium) {
            margin-left: 15px;
            font-size: 12px;

        }

    }

}


.form_second {

    .form__row {
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .form__field {
        margin-right: 0;
        margin-bottom: 24px;
        max-width: 100%;
        width: 100%;

        @include mq($small) {

        }

        @include mq($medium) {
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form__input {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        color: rgba(25, 28, 31, .5);
        @include placeholder() {
            color: rgba(25, 28, 31, .5);

        }

    }

    .form__bottom {
        margin-top: 10px;
        flex-wrap: wrap;

        @include mq($small) {
            margin-top: 20px;

        }

        @include mq($medium) {
            margin-top: 25px;
        }

    }

    .form__note {
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        color: rgba(25, 28, 31, .5);
        font-size: 9px;
        font-weight: normal;
        line-height: 1.4;

        @include mq($small) {

        }

        @include mq($medium) {
            font-size: 12px;
        }


    }

    .form__submit {
        margin-top: 20px;
        width: 100%;
        @include mq($small) {

        }

        @include mq($medium) {
            margin-top: 30px;
            width: auto;
        }

    }
}
