.included {
  padding-top: 132px;
  padding-top: 60px;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='424' viewBox='0 0 1920 424' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3 10.0037L1920 79.2699V423.004H-3V10.0037Z' fill='%23272D4E'/%3E%3C/svg%3E%0A");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 1920px 424px;
  overflow: hidden;

  &__container {
    z-index: 1;
    position: relative;
    // padding-top: 59px;
    // padding-bottom: 53px;
  }

  &__title {
    margin-bottom: 36px;
    color: $color-white;
  }

  &__slider {
    position: relative;
    // padding-bottom: 100px;
    padding-bottom: 80px;
  }

  &__slider-bg {
    content: '';
    position: absolute;
    // top: -160px;
    top: -170px;
    left: 50%;
    width: 1902px;
    height: 413px;
    transform: rotate(-0.68deg) translateX(-50%);
  }

  &__slide {
    position: relative;
    pointer-events: all;
    // margin-left: -100%;
    width: 33.3%;
    // height: 227px;
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }

    &:nth-child(1) {
      width: 35.5%;
    }

    &:nth-child(2) {
      width: 29%;
    }
    &:nth-child(3) {
      width: 51%;
      justify-content: center;
    }
    &:nth-child(4) {
      width: 40%;
      justify-content: center;
    }
    &:nth-child(5) {
      width: 41%;
      justify-content: center;
    }
    &:nth-child(6) {
      width: 51%;
      justify-content: center;
    }
  }

  &__entry {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__num {
    font-family: $sfpro;
    font-weight: 800;
    font-size: 190px;
    line-height: 1;
    background: linear-gradient(161.08deg, #FFFFFF 29.47%, #272D4E 95.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__text {
    position: relative;
    top: -40px;
    left: -40px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
    background: $color-blue;
    color: $color-white;
    font-family: $sfpro;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1875;
    // white-space: nowrap;
    border-radius: 6px;
    box-shadow: 0px 12px 34px rgba(78, 202, 237, 0.23);
  }

  &__slider-controls {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 603px;
    height: 413px;
    background-image: url("data:image/svg+xml,%3Csvg width='600' height='413' viewBox='0 0 600 413' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M255.442 28.5797C267.304 10.7285 287.314 0 308.747 0H603V413H0L255.442 28.5797Z' fill='url(%23paint0_linear_10_143)'/%3E%3Cpath d='M256.691 29.4099C268.275 11.9771 287.816 1.5 308.747 1.5H601.5V411.5H2.7977L256.691 29.4099Z' stroke='%234ECAED' stroke-opacity='0.29' stroke-width='3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_10_143' x1='521.517' y1='413' x2='521.517' y2='111.617' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23272D4F'/%3E%3Cstop offset='1' stop-color='%232C3359'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: 0% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__controls-w {
    position: absolute;
    bottom: 130px;
    left: 260px;
    max-width: 136px;
    width: 100%;
  }

  &__buttons {
    margin-bottom: 20px;
  }

}
