.service {
  &__container {
    padding-top: 115px;
    padding-bottom: 115px;
  }

  &__title {
    margin-bottom: $margin-title-secondary;
  }

  &__write {
    margin-top: -240px;
    padding-bottom: 130px;
  }

  &__video {
    padding-bottom: 130px;
  }

  &__audience {

  }




}
