include ../write/write.pug
include ../video/video.pug
include ../audience/audience.pug

mixin service(data)
    section.service
        .service__container.container
            h2.service__title.title.title_secondary <span>04</span> Сервис.

            +write().service__write
            +video().service__video
            +audience().service__audience
